In [10]:
import numpy as np
import pandas as pd

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[0]
data[1:3]

1    0.50
2    0.75
dtype: float64

In [14]:
data1 = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

#series as specialized dictionary

In [17]:
population_dict = {'California': 3833251, 'Texas': 26448193, "New York": 19651127, 'Florida': 19552860, 'Illinois': 12882135}
population_dict
population = pd.Series(population_dict)
population

California     3833251
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [18]:
population['California':'Illinois']

California     3833251
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [20]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [23]:
pd.Series({2:'a', 1:'b', 3:'f', 6:'d', 4:'c', 5:'e'})

2    a
1    b
3    f
6    d
4    c
5    e
dtype: object

In [24]:
pd.Series({2:'a', 1:'b', 3:'f', 6:'d', 4:'c', 5:'e'}).sort_index()

1    b
2    a
3    f
4    c
5    e
6    d
dtype: object

In [25]:
pd.Series({2:'a', 1:'b', 3:'f', 6:'d', 4:'c', 5:'e'}).sort_values()

2    a
1    b
4    c
6    d
5    e
3    f
dtype: object

In [27]:
pd.Series({2:'a', 1:'b', 3:'f', 6:'d', 4:'c', 5:'e'}).sort_index(ascending=False)

6    d
5    e
4    c
3    f
2    a
1    b
dtype: object

In [28]:
pd.Series({2:'a', 1:'b', 3:'f', 6:'d', 4:'c', 5:'e'}).sort_values(ascending=False)

3    f
5    e
6    d
4    c
1    b
2    a
dtype: object

In [29]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [33]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California     3833251  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [34]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [36]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [37]:
states.columns

Index(['population', 'area'], dtype='object')

#DataFrame as specialized dictionary

In [40]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [41]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [42]:
states.area is states['area']

True

In [43]:
states['population']

California     3833251
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [44]:
states.population

California     3833251
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [45]:
states['population'] is states.population

True

#constructing dataframe from a single series

In [46]:
pd.DataFrame(population, columns=['population'])

            population
California     3833251
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#create some data from list comprehension

In [48]:
data2 = [{'a': i, 'b': 2 * i, 'c': i ** 2} for i in range(6)]
pd.DataFrame(data2)

   a   b   c
0  0   0   0
1  1   2   1
2  2   4   4
3  3   6   9
4  4   8  16
5  5  10  25

In [49]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'a': 7, 'd': 9}])

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  3.0  4.0  NaN
2  7.0  NaN  NaN  9.0

In [51]:
pd.DataFrame([{'a': 1, 'b': 2, 'c':4}, {'a':7, 'b':3, 'd':9}])

   a  b    c    d
0  1  2  4.0  NaN
1  7  3  NaN  9.0

# pay attention to the [ ] since it'll yield a different result when ommiting them

In [54]:
pd.DataFrame({'a': 1, 'b': 2, 'c':4}, {'a':7, 'b':3, 'd':9})

   a  b  c
a  1  2  4
b  1  2  4
d  1  2  4